<footer class="footer">
	<small>
		<a href="http://anthropix.com">Anthropix</a>
		By William Burns
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://news.anthropix.com/">News</a></li>
		</ul>
	</nav>
</footer